.u-section-1 .u-sheet-1 {
    min-height: 869px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: "Roboto Slab", serif;
    margin: 60px 0 0 382px;
}

.u-section-1 .u-shape-1 {
    width: 237px;
    height: 237px;
    margin: 410px 0 0 auto;
}

.u-section-1 .u-group-1 {
    width: 771px;
    min-height: 477px;
    height: auto;
    margin: -595px 50px 0 auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 40px 40px 40px 100px;
}

.u-section-1 .u-text-2 {
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 15px 30px 0 -30px;
}

.u-section-1 .u-text-3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 30px 30px 0 -30px;
}

.u-section-1 .u-shape-2 {
    width: 375px;
    height: 375px;
    background-image: none;
    margin: -623px auto 60px 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 782px;
    }
    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 55px;
        margin-left: 282px;
    }
    .u-section-1 .u-shape-1 {
        margin-top: 358px;
    }
    .u-section-1 .u-group-1 {
        width: 626px;
        min-height: 509px;
        margin-top: -565px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 85px;
    }
    .u-section-1 .u-text-2 {
        margin-right: 23px;
        margin-left: -22px;
    }
    .u-section-1 .u-text-3 {
        margin-right: 23px;
        margin-left: -22px;
    }
    .u-section-1 .u-shape-2 {
        width: 335px;
        height: 335px;
        margin-top: -681px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 757px;
    }
    .u-section-1 .u-text-1 {
        margin-top: 27px;
        margin-left: 226px;
    }
    .u-section-1 .u-shape-1 {
        margin-top: 275px;
        margin-right: auto;
        margin-left: 0;
    }
    .u-section-1 .u-group-1 {
        min-height: 378px;
        margin-top: -492px;
        margin-right: 0;
    }
    .u-section-1 .u-container-layout-1 {
        padding: 145px 30px 30px 50px;
    }
    .u-section-1 .u-text-2 {
        width: auto;
        margin-top: -75px;
        margin-right: 10px;
        margin-left: -10px;
    }
    .u-section-1 .u-text-3 {
        width: auto;
        margin-right: 10px;
        margin-left: -10px;
    }
    .u-section-1 .u-shape-2 {
        width: 298px;
        height: 298px;
        margin-top: -613px;
        margin-left: 25px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 797px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3.4375rem;
        margin-top: 36px;
        margin-left: 270px;
    }
    .u-section-1 .u-shape-1 {
        width: 177px;
        height: 177px;
        margin-top: 331px;
    }
    .u-section-1 .u-group-1 {
        min-height: 412px;
        width: 474px;
        margin-top: -495px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-left: 30px;
    }
    .u-section-1 .u-text-2 {
        margin-top: 45px;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-text-3 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-shape-2 {
        width: 270px;
        height: 278px;
        margin-top: -648px;
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 801px;
    }
    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 16px;
        margin-left: 70px;
    }
    .u-section-1 .u-shape-1 {
        width: 156px;
        height: 156px;
        margin-top: 535px;
    }
    .u-section-1 .u-group-1 {
        min-height: 463px;
        width: 297px;
        margin-top: -534px;
    }
    .u-section-1 .u-container-layout-1 {
        padding: 20px 25px;
    }
    .u-section-1 .u-text-2 {
        font-size: 1.875rem;
    }
    .u-section-1 .u-shape-2 {
        width: 193px;
        height: 193px;
        margin-top: -604px;
        margin-bottom: 499px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 796px;
}

.u-section-2 .u-shape-1 {
    width: 613px;
    height: 613px;
    margin: 48px auto 0 214px;
}

.u-section-2 .u-layout-wrap-1 {
    margin-top: -539px;
    margin-bottom: -258px;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 714px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-image-1 {
    height: 462px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.u-section-2 .u-text-1 {
    font-size: 3.125rem;
    font-weight: 700;
    margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 714px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 119px 0 0;
}

.u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 82px;
    }
    .u-section-2 .u-shape-1 {
        margin-top: 31px;
        margin-left: 82px;
    }
    .u-section-2 .u-layout-wrap-1 {
        margin-top: -522px;
        margin-bottom: 2px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 589px;
    }
    .u-section-2 .u-image-1 {
        height: NaNpx;
        margin-top: -30px;
        margin-left: initial;
    }
    .u-section-2 .u-text-1 {
        font-size: 2.625rem;
        margin-top: 31px;
        margin-left: 1px;
        margin-right: 1px;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 589px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 605px;
    }
    .u-section-2 .u-shape-1 {
        width: 533px;
        height: 533px;
        margin-top: 36px;
        margin-left: 54px;
    }
    .u-section-2 .u-layout-wrap-1 {
        margin-top: -447px;
        margin-bottom: 60px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: NaNpx;
    }
    .u-section-2 .u-container-layout-1 {
        padding-right: 0;
    }
    .u-section-2 .u-text-1 {
        font-size: 1.875rem;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: NaNpx;
    }
    .u-section-2 .u-text-2 {
        margin-top: 0;
    }
    .u-section-2 .u-text-3 {
        font-size: 1.125rem;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 869px;
    }
    .u-section-2 .u-shape-1 {
        margin-top: 290px;
        margin-right: -38px;
        margin-left: auto;
    }
    .u-section-2 .u-layout-wrap-1 {
        width: 502px;
        margin: -768px auto 6px 0;
    }
    .u-section-2 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
    }
    .u-section-2 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 785px;
    }
    .u-section-2 .u-shape-1 {
        width: 340px;
        height: 340px;
        margin-top: 211px;
        margin-right: -50px;
    }
    .u-section-2 .u-layout-wrap-1 {
        margin-top: -505px;
        margin-bottom: 60px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 378px;
    }
    .u-section-2 .u-image-1 {
        margin-top: 0;
        height: 275px;
        margin-left: initial;
    }
    .u-section-2 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 1px;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 167px;
    }
    .u-section-2 .u-text-3 {
        margin-bottom: -188px;
    }
}